<header class="coll__header">
    <h1>Minha coleção</h1>
    <div class="search-container">
        <label>
            <input type="text" placeholder="Buscar por título..." (input)="updateValueFilter($event, 'search-query')"
                class="search-input">
        </label>
        <button class="btn-filter" (click)="toggleFilters('filters')"
            [style.border]="activeFiltersCount() > 0 ? '2px solid var(--primary-color)' : ''"><app-icon
                [icon]="'filter'" /> {{ activeFiltersCount() }}</button>
        <button class="btn-sort" (click)="toggleFilters('sort')"
            [style.border]="sortCriterion() !== 'added-newest'? '2px solid var(--primary-color)' : ''"><app-icon
                [icon]="'sort'" /></button>

        @if(showFilters()) {
        <div class="bg-modal" (click)="toggleFilters('filters')"></div>
        <div class="modal-options">
            <h3>Filtros</h3>

            <h4>Informações da obra</h4>
            <label>
                <p>Por diretor</p>
                <select class="filter__directors" (change)="updateValueFilter($event, 'director')"
                    [class.has-value]="filterDirector() !== ''" [value]="filterDirector()">
                    <option class="default-option" value="" [selected]="filterDirector() === ''">Todos</option>
                    @for (option of directors(); track $index) {
                    <option [value]="option" [selected]="filterDirector() === option">{{ option }}</option>
                    }
                </select>
            </label>
            <label>
                <p>Por gênero</p>
                <select class="filter__genres" (change)="updateValueFilter($event, 'genre')" [value]="filterGenre()"
                    [class.has-value]="filterGenre() !== ''">
                    <option class="default-option" value="" [selected]="filterGenre() === ''">Todos</option>
                    @for (option of genres(); track $index) {
                    <option [value]="option" [selected]="filterGenre() === option">{{ option }}</option>
                    }
                </select>
            </label>
            <label>
                <p>Por país</p>
                <select class="filter__country" (change)="updateValueFilter($event, 'country')"
                    [value]="filterCountry()" [class.has-value]="filterCountry() !== ''">
                    <option class="default-option" value="" [selected]="filterCountry() === ''">Todos</option>
                    @for (option of countries(); track $index) {
                    <option [value]="option" [selected]="filterCountry() === option">{{ option }}</option>
                    }
                </select>
            </label>

            <h4>Estado de conservação</h4>
            <label>
                <p>Por estado da capa</p>
                <select class="filter__state-case" (change)="updateValueFilter($event, 'case-state')"
                    [value]="filterCaseState()" [class.has-value]="filterCaseState() !== ''">
                    <option class="default-option" value="" [selected]="filterCaseState() === ''">Todos</option>
                    @for (option of caseStateOptions; track $index) {
                    <option [value]="option" [selected]="filterCaseState() === option">{{ ECaseState[option] }}</option>
                    }
                </select>
            </label>
            <label>
                <p>Por estado do disco</p>
                <select class="filter__state-disc" (change)="updateValueFilter($event, 'disc-state')"
                    [value]="filterDiscState()" [class.has-value]="filterDiscState() !== ''">
                    <option class="default-option" value="" [selected]="filterDiscState() === ''">Todos</option>
                    @for (option of discStateOptions; track $index) {
                    <option [value]="option" [selected]="filterDiscState() === option">{{ EDiscState[option] }}</option>
                    }
                </select>
            </label>
            <label>
                <p>Por estado da fita</p>
                <select class="filter__state-tape" (change)="updateValueFilter($event, 'tape-state')"
                    [value]="filterTapeState()" [class.has-value]="filterTapeState() !== ''">
                    <option class="default-option" value="" [selected]="filterTapeState() === ''">Todos</option>
                    @for (option of tapeStateOptions; track $index) {
                    <option [value]="option" [selected]="filterTapeState() === option">{{ ETapeState[option] }}</option>
                    }
                </select>
            </label>

            <h4>Informações do item</h4>
            <label>
                <p>Por tipo de capa</p>
                <select class="filter__case-type" (change)="updateValueFilter($event, 'case-type')"
                    [value]="filterCaseType()" [class.has-value]="filterCaseType() !== ''">
                    <option class="default-option" value="" [selected]="filterCaseType() === ''">Todos</option>
                    @for (option of caseDVDOptions; track $index) {
                    <option [value]="option" [selected]="filterCaseType() === option">{{ EDVDCase[option] }}</option>
                    }
                    @for (option of caseBluRayOptions; track $index) {
                    <option [value]="option" [selected]="filterCaseType() === option">{{ EBluRayCase[option] }}</option>
                    }
                    @for (option of caseVHSOptions; track $index) {
                    <option [value]="option" [selected]="filterCaseType() === option">{{ EVHSCase[option] }}</option>
                    }
                </select>
            </label>

            <label>
                <p>Por fonecedor</p>
                <select class="filter__supplier" (change)="updateValueFilter($event, 'supplier')"
                    [value]="filterSupplier()" [class.has-value]="filterSupplier() !== ''">
                    <option class="default-option" value="" [selected]="filterSupplier() === ''">Todos</option>
                    @for (option of suppliers(); track $index) {
                    <option [value]="option" [selected]="filterSupplier() === option">{{ option }}</option>
                    }
                </select>
            </label>

            <label [class.has-value]="filterIsSpecial()">
                <span>É edição especial</span>
                <input type="checkbox" [checked]="filterIsSpecial()"
                    (change)="updateCheckboxFilter($event, 'isSpecialEdition')">
            </label>

            <label>
                <p>Por edição</p>
                <select class="filter__edition" (change)="updateValueFilter($event, 'edition')"
                    [value]="filterEdition()" [class.has-value]="filterEdition() !== ''">
                    <option class="default-option" value="" [selected]="filterEdition() === ''">Todos</option>
                    @for (option of edition(); track $index) {
                    <option [value]="option" [selected]="filterEdition() === option">{{ option }}</option>
                    }
                </select>
            </label>
            <label>
                <p>Por idioma de áudio</p>
                <select class="filter__audio-language" (change)="updateValueFilter($event, 'audio-language')"
                    [value]="filterAudioLanguage()" [class.has-value]="filterAudioLanguage() !== ''">
                    <option class="default-option" value="" [selected]="filterAudioLanguage() === ''">Todos</option>
                    @for (option of audioLanguages(); track $index) {
                    <option [value]="option" [selected]="filterAudioLanguage() === option">{{ $any(ELanguages)[option] || option }}</option>
                    }
                </select>
            </label>
            <label>
                <p>Por idioma de legenda</p>
                <select class="filter__subtitle-language" (change)="updateValueFilter($event, 'subtitle-language')"
                    [value]="filterSubtitleLanguage()" [class.has-value]="filterSubtitleLanguage() !== ''">
                    <option class="default-option" value="" [selected]="filterSubtitleLanguage() === ''">Todos</option>
                    @for (option of subtitleLanguages(); track $index) {
                    <option [value]="option" [selected]="filterSubtitleLanguage() === option">{{ $any(ELanguages)[option] || option }}</option>
                    }
                </select>
            </label>

            <h4>Disponibilidade</h4>
            <label [class.has-value]="filterAvailableForExchange()">
                <span>Disponível para troca</span>
                <input type="checkbox" [checked]="filterAvailableForExchange()"
                    (change)="updateCheckboxFilter($event, 'availableForExchange')">
            </label>
            <label [class.has-value]="filterAvailableForSale()">
                <span>Disponível para venda</span>
                <input type="checkbox" [checked]="filterAvailableForSale()"
                    (change)="updateCheckboxFilter($event, 'availableForSale')">
            </label>

            <div class="btn-container">
                <button [disabled]="activeFiltersCount() === 0" class="btn-clear" (click)="clearAllFilters()">Limpar filtros ({{ activeFiltersCount() }})</button>
                <button class="btn-close" (click)="toggleFilters('filters')">Fechar</button>
            </div>
        </div>
        }
        @if(showSort()) {
        <div class="bg-modal" (click)="toggleFilters('sort')"></div>
        <div class="modal-options">
            <h3>Ordenação</h3>
            <label class="sort-option">
                <input type="radio" name="sort" value="added-newest" [checked]="sortCriterion() === 'added-newest'"
                    (change)="updateSortCriterion($event)">
                <span>Adicionado recentemente (padrão)</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="added-oldest" [checked]="sortCriterion() === 'added-oldest'"
                    (change)="updateSortCriterion($event)">
                <span>Adicionado há mais tempo</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="title-asc" [checked]="sortCriterion() === 'title-asc'"
                    (change)="updateSortCriterion($event)">
                <span>Título (A-Z)</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="title-desc" [checked]="sortCriterion() === 'title-desc'"
                    (change)="updateSortCriterion($event)">
                <span>Título (Z-A)</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="acquisition-newest"
                    [checked]="sortCriterion() === 'acquisition-newest'" (change)="updateSortCriterion($event)">
                <span>Adquirido recentemente</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="acquisition-oldest"
                    [checked]="sortCriterion() === 'acquisition-oldest'" (change)="updateSortCriterion($event)">
                <span>Adquirido há mais tempo</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="year-newest" [checked]="sortCriterion() === 'year-newest'"
                    (change)="updateSortCriterion($event)">
                <span>Ano de lançamento (Novo)</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="year-oldest" [checked]="sortCriterion() === 'year-oldest'"
                    (change)="updateSortCriterion($event)">
                <span>Ano de lançamento (Antigo)</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="rating-highest" [checked]="sortCriterion() === 'rating-highest'"
                    (change)="updateSortCriterion($event)">
                <span>Maior avaliação pessoal</span>
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="rating-lowest" [checked]="sortCriterion() === 'rating-lowest'"
                    (change)="updateSortCriterion($event)">
                <span>Menor avaliação pessoal</span>
            </label>
        </div>
        }
    </div>

    <div class="format-view-wrapper">
        <div class="format-container">
            <label for="format-all" class="format-option">
                <span>Todos</span>
                @if(filterFormat() === ''){<b>{{ filteredCollection()?.length }}</b>}
                <input type="radio" id="format-all" name="format" value=""
                    (change)="updateValueFilter($event, 'format')" checked>
            </label>
            <label for="format-dvd" class="format-option">
                <span>DVD</span>
                @if(filterFormat() === 'DVD'){<b>{{ filteredCollection()?.length }}</b>}
                <input type="radio" id="format-dvd" name="format" value="DVD"
                    (change)="updateValueFilter($event, 'format')">
            </label>
            <label for="format-blueray" class="format-option"><span>BluRay</span>
                @if(filterFormat() === 'BLURAY'){<b>{{ filteredCollection()?.length }}</b>}
                <input type="radio" id="format-blueray" name="format" value="BLURAY"
                    (change)="updateValueFilter($event, 'format')">
            </label>
            <label for="format-vhs" class="format-option"><span>VHS</span>
                @if(filterFormat() === 'VHS'){<b>{{ filteredCollection()?.length }}</b>}
                <input type="radio" id="format-vhs" name="format" value="VHS"
                    (change)="updateValueFilter($event, 'format')">
            </label>
        </div>
    </div>
</header>
<div class="switch-view">
    <button [ngClass]="viewMode() === 'list' ? 'switch-view__btn--active' : ''" (click)="changeViewMode('list')"><app-icon
            icon="list-view" /></button>
    <button [ngClass]="viewMode() === 'grid' ? 'switch-view__btn--active' : ''" (click)="changeViewMode('grid')"><app-icon
            icon="grid-view" /></button>
</div>

<div class="coll__list" [ngClass]="viewMode() === 'grid' ? 'coll__list--grid' : 'coll__list--list'">

    @if(filteredCollection() && filteredCollection()?.length! > 0) {
    @for (item of filteredCollection(); track $index) {
    <app-card-coll [item]="item" [viewMode]="viewMode()"></app-card-coll>
    }
    } @else {
    <p>Nenhum item encontrado na coleção.</p>
    }
</div>