<header class="coll__header">
    <h1>Minha coleção</h1>
    <div class="search-container">
        <label>
            <input type="text" placeholder="Buscar por título..." (input)="updateSearchQuery($event)" class="search-input">
        </label>
        <button class="btn-filter" (click)="toggleFilters()"><app-icon [icon]="'filter'" /></button>

        @if(showFilters()) {
        <div class="bg-modal" (click)="toggleFilters()"></div>
        <div class="modal-options">
            <h3>Filtros</h3>

            <label>
                <p>Estado da capa</p>
                <select class="filter__state-case">
                    <option value="">Selecione</option>
                    @for (option of caseStateOptions; track $index) {
                    <option value="{{ option }}">{{ ECaseState[option] }}</option>
                    }
                </select>
            </label>
            <label>
                <span>Disponível para troca</span>
                <input type="checkbox">
            </label>
            <label>
                <span>Disponível para venda</span>
                <input type="checkbox">
            </label>
            <label>
                <span>É edição especial</span>
                <input type="checkbox">
            </label>
        </div>
        }
    </div>

    <div class="sort-wrapper">
        <label for="sort-select">
            <p>Ordenar por:</p>
            <select id="sort-select" (change)="updateSortCriterion($event)" class="sort-select">
                <option value="added-newest">Adicionado recentemente</option>
                <option value="added-oldest">Adicionado há mais tempo</option>
                <option value="title-asc">Título (A-Z)</option>
                <option value="title-desc">Título (Z-A)</option>
                <option value="acquisition-newest">Adquirido recentemente</option>
                <option value="acquisition-oldest">Adquirido há mais tempo</option>
                <option value="year-newest">Ano de lançamento (Novo)</option>
                <option value="year-oldest">Ano de lançamento (Antigo)</option>
                <option value="rating-highest">Maior avaliação pessoal</option>
                <option value="rating-lowest">Menor avaliação pessoal</option>
            </select>
        </label>
        <div class="switch-view">
            <button [ngClass]="viewMode() === 'list' ? 'switch-view__btn--active' : ''" (click)="viewMode.set('list')"><app-icon icon="list-view" /></button>
            <button [ngClass]="viewMode() === 'grid' ? 'switch-view__btn--active' : ''" (click)="viewMode.set('grid')"><app-icon icon="grid-view" /></button>
        </div>
    </div>

    <div class="format-container">
        <label for="format-all" class="format-option">
            <span>Todos</span>
            <b>{{ collection()?.length }}</b>
            <input type="radio" id="format-all" name="format" value="" (change)="updateFormat($event)" checked>
        </label>
        <label for="format-dvd" class="format-option">
            <span>DVD</span>
            @if(filterFormat() === 'DVD'){<b>{{ filteredCollection()?.length }}</b>}
            <input type="radio" id="format-dvd" name="format" value="DVD" (change)="updateFormat($event)">
        </label>
        <label for="format-blueray" class="format-option"><span>BluRay</span>
            @if(filterFormat() === 'BLURAY'){<b>{{ filteredCollection()?.length }}</b>}
            <input type="radio" id="format-blueray" name="format" value="BLURAY" (change)="updateFormat($event)">
        </label>
        <label for="format-vhs" class="format-option"><span>VHS</span>
            @if(filterFormat() === 'VHS'){<b>{{ filteredCollection()?.length }}</b>}
            <input type="radio" id="format-vhs" name="format" value="VHS" (change)="updateFormat($event)">
        </label>
    </div>
</header>

<div class="coll__list" [ngClass]="viewMode() === 'grid' ? 'coll__list--grid' : 'coll__list--list'">

    @if(collection()){
    @for (item of filteredCollection(); track $index) {
    <app-card-coll [item]="item" [viewMode]="viewMode()"></app-card-coll>
    }
    } @else {
    <p>Você ainda não adicionou nenhum item à coleção.</p>
    }
</div>