input,
select {
    height: 44px;
    padding: 0 10px;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    font-weight: 600;
    outline-color: var(--primary-color);
    margin-top: 0.5rem;

    &::placeholder{
        font-weight: 300;
    }
}

input[type="checkbox"] {
    width: fit-content;
    height: auto;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color);
    flex: 2 1 300px;
    position: relative;


    > p {
        position: absolute;
        top: -4px;
        left: 10px;
        background-color: var(--white);
        padding-inline: 6px;
    }
}

textarea {
    height: 100px;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid var(--grey-20);
    resize: vertical;
}