input,
select {
    height: 50px;
    padding: 0 10px;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    font-weight: 600;
    outline-color: var(--primary-color);
    margin-top: 0.5rem;

    &::placeholder {
        font-weight: 300;
    }
}

input[type="checkbox"] {
    width: fit-content;
    height: auto;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color);
    flex: 2 1 300px;
    position: relative;


    >p {
        position: absolute;
        top: -4px;
        left: 10px;
        background-color: var(--white);
        padding-inline: 6px;
    }
}

textarea {
    height: 100px;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--black);
    resize: vertical;
}

button {
    height: 60px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--primary-color);
    padding-inline: 1.5rem;

    &:hover {
        opacity: 0.8;
    }

    &[type="smooth"] {
        height: 36px;
        background-color: var(--grey-20);
        border-radius: 0.25rem;
        font-size: 0.9rem;
    }
}

fieldset {
    position: relative;
    justify-content: space-evenly;

    >p {
        position: absolute;
        top: -16px;
        left: 10px;
        background-color: var(--white);
        padding-inline: 6px;
    }

    input[type="radio"] {
        width: 24px;
        height: 24px;
    }

}