.card {
    // border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    // box-shadow: 3px 3px 0 0 var(--primary-color);
    padding: 1rem;
    background-color: color-mix(in srgb, var(--secondary-color) 10%, var(--white));
    box-shadow: var(--shadow-bottom);
    border-top: 4px solid var(--white);
}

.tag {
    background-color: color-mix(in srgb, currentColor 5%, transparent);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    border: 1px solid color-mix(in srgb, currentColor 70%, transparent);
    display: flex;
    gap: 0.25rem;
    align-items: center;
    width: fit-content;
    --size-icon: 16px;
}