:root{
    --primary-color: #ee8f00;
    --secondary-color: #ee7575;
    --tertiary-color: #59ac44;
    --bg-color: #EBEBEB;
    --text-color: #333;
    --grey-10: #f0f0f0;
    --grey-20: #d9d9d9;
    --grey-30: #a9a9a9;
    --grey-40: #9b9b9b;
    --grey-50: #727272;
    --black: #000000;
    --white: #ffffff;
    --transp-white: #ffffff75;
    --transp-black: #00000010;

    --dvd-color: #cba9eb;
    --bluray-color: #0ca9ec;
    --vhs-color: #e9d5c5;

    --great-color: cornflowerblue;
    --good-color: #70c970;
    --regular-color: rgb(255, 195, 116);
    --poor-color: rgb(255, 137, 98);
    --terrible-color: rgb(161, 1, 1);

    --size-icon: 32px;

    --shadow-card: 0px 2px 8px -5px #0000009e;
    --shadow-bottom: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-top: 0px -4px 22px -17px rgba(0, 0, 0, 0.404);
}