<header class="list-header" [formGroup]="formItem">


    <div class="info-list__container">
        @if (editMode()) {
        <input type="text" formControlName="title" />
        <!-- <label>
            Privado
            <input type="checkbox" formControlName="isPrivated"/>
        </label> -->
        }@else {
        <h3>{{ list()?.title }}</h3>
        }
    </div>

    <div class="actions-container">
        @if (editMode()) {
        <button class="btn-edit" type="smooth" (click)="cancelEdit()">
            Cancelar
        </button>
        <button class="btn-edit" type="smooth" (click)="saveNewOrder()">
            Salvar
        </button>
        }@else {
        <button class="btn-edit" type="smooth" (click)="editMode.set(true)">
            Editar
        </button>
        }
    </div>
</header>
<div class="items-container" [ngClass]="editMode() ? 'edit-mode' : ''" cdkDropList
    [cdkDropListData]="list()?.items || []" (cdkDropListDropped)="drop($event)">

    @for (item of list()?.items; track item.itemId) {
    <app-card-movie-list cdkDrag [cdkDragDisabled]="!editMode()" [item]="item" [edit]="editMode()"
        [listID]="list()?.id!" />
    } @empty {
    Nenhum item adicionado.
    }
</div>