<header class="list-header">


    @if (editMode()) {
    <input type="text" value="{{ list()?.title }}" />
    }@else {
    <h3>{{ list()?.title }}</h3>
    }

    <div class="actions-container">
        @if (editMode()) {
        <button class="btn-edit" type="smooth" (click)="editMode.set(false)">
            Cancelar
        </button>
        }@else { <button class="btn-edit" type="smooth" (click)="editMode.set(true)">
            Editar
        </button>}
    </div>
</header>
<div class="items-container">
    @for (item of list()?.items; track $index) {
    <app-card-movie-list [item]="item" [edit]="editMode()" [listID]="list()?.id!" />
    } @empty {
    Nenhum item adicionado.
    }
</div>