i[icon] {
    height: var(--size-icon);
    width: var(--size-icon);
    display: flex;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    color: var(--color-icon);
    background-color: currentColor;
}