:host{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    padding-inline: 1.5rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 22px -17px rgba(0, 0, 0, 0.404);
}

.navbar__item{
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    flex-direction: column;
    gap: 0.25rem;

    ::ng-deep i[icon] {
        --size-icon: 24px;
        color: var(--secondary-color);
    }

    &--active{
        opacity: 1;
        transform: translateY(-4px);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    > p{
        font-size: 0.7rem;
        color: var(--secondary-color);
    }
}