:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--secondary-color);
}

.login {

    &__art,
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__art {
        height:70%;
        align-items: center;
    }

    &__container {
        height: 30%;
        align-items: flex-start;
    }

    &__logo {
        width: 150px;
        height: auto;
    }

    &__btn-login-google {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        font-weight: 400;

        ::ng-deep {
            i[icon] {
                --size-icon: 22px;
                color: var(--secondary-color);
            }
        }
    }
}