:host {
    display: flex;
    padding: 0.5em 3rem 0.5rem 0.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    gap: 1.5rem;
    align-items: center;
    position: relative;

    &:is(.card-coll--grid) {
        width: fit-content;
        padding: 0.5rem;
        height: fit-content;

        .card-coll__poster {
            >img {
                height: 150px;
                width: 100px;
            }
        }

        .card-coll__format {
            padding: 0.4rem;
            top: 0.45rem;
            right: 0.45rem;
            background-color: color-mix(in srgb, currentColor 100%, transparent);

            ::ng-deep {
                i[icon] {
                    --size-icon: 18px;
                }
            }
        }

    }

    &:is(.card-coll--list) {
        width: 100%;
    }
}

.card-coll {
    &__poster {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        filter: drop-shadow(4px 8px 7px rgb(0 0 0 / 37%));

        >img {
            height: 120px;
            width: 80px;
            border-radius: 0.5rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        flex: 1;
        position: relative;
        gap: 0.5rem;

        .item-info-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__format {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.7rem 0.4rem;
        background-color: var(--grey-10);
        border-radius: 0.5rem;
        background-color: color-mix(in srgb, currentColor 50%, transparent);

        ::ng-deep {
            i[icon] {
                --size-icon: 22px;
                color: currentColor;
                filter: saturate(4) brightness(0.35);
            }
        }
    }

    &__rating {

        font-size: 0.8rem;
        position: absolute;
        bottom: 4px;
        border-radius: 0.25rem;
        padding: 0.15rem 0.25rem;
        background-color: #00000050;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;

        ::ng-deep {
            i[icon] {
                color: var(--yellow);
            }
        }
    }

    &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.9rem;
        font-weight: 600;
    }

    &__edition {
        color: darkgoldenrod;
        background-color: color-mix(in srgb, currentColor 5%, transparent);
        border: 1px solid color-mix(in srgb, currentColor 70%, transparent);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        >p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.7rem;
        }

        ::ng-deep {
            i[icon] {
                color: currentColor;
            }
        }
    }

    &__rating,
    &__edition,
    &__case,
    &__disc,
    &__tape {
        display: flex;
        align-items: center;


        ::ng-deep {
            i[icon] {
                --size-icon: 18px;
            }
        }
    }


    &__year {
        color: var(--grey-50);
        font-size: 0.9rem;
    }

    &__director {
        gap: 0.5rem;
        font-size: 0.8rem;
    }


    &__sell,
    &__exchange {

        ::ng-deep {
            i[icon] {
                color: currentColor;
            }
        }
    }

    &__sell {
        color: var(--good-color);
    }

    &__exchange {
        color: var(--great-color);
    }


    &__case,
    &__disc,
    &__tape {
        background-color: color-mix(in srgb, currentColor 5%, transparent);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.7rem;

        ::ng-deep {
            i[icon] {
                color: currentColor;
            }
        }
    }
}


.DVD {
    color: var(--dvd-color);
}

.BLURAY {
    color: var(--bluray-color);
}

.VHS {
    color: var(--vhs-color);
}