<div class="card-coll__poster">
    <img [src]="item()?.poster ?? 'assets/default-poster.jpg'" alt="{{ item()?.title }} poster">


    @if(item()?.personalRating){
    <div class="card-coll__rating">
        <app-icon icon="star" />
        {{ item()?.personalRating }}
    </div>
    }
</div>

<span class="card-coll__format" [ngClass]="item()?.format">
    @if(item()?.format === 'DVD') {
    <app-icon icon="dvd" />
    } @else if(item()?.format === 'BLURAY') {
    <app-icon icon="bluray" />
    } @else if(item()?.format === 'VHS') {
    <app-icon icon="tape" />
    }
</span>
<div class="card-coll__info">
    <h3 class="card-coll__title">{{ item()?.title}}</h3>
    <p class="card-coll__year">{{ item()?.year }}</p>
    <p class="card-coll__director">{{ item()?.director?.join(', ') }}</p>

    <div class="item-info-container">

        @if(item()?.stateCase){
        <div class="card-coll__case"
            [style.color]="item()?.stateCase === 'CASE_GREAT' ? 'var(--great-color)' : item()?.stateCase === 'CASE_GOOD' ? 'var(--good-color)' : item()?.stateCase === 'CASE_REGULAR' ? 'var(--regular-color)' : item()?.stateCase === 'CASE_POOR' ? 'var(--poor-color)' : 'var(--terrible-color)'">
            <app-icon icon="case" />

        </div>
        }

        @if(item()?.stateDisc){
        <div class="card-coll__disc"
            [style.color]="item()?.stateDisc === 'DISC_GREAT' ? 'var(--great-color)' : item()?.stateDisc === 'DISC_GOOD' ? 'var(--good-color)' : item()?.stateDisc === 'DISC_REGULAR' ? 'var(--regular-color)' : item()?.stateDisc === 'DISC_POOR' ? 'var(--poor-color)' : 'var(--terrible-color)'">
            <app-icon icon="disc" />

        </div>
        }

        @if(item()?.stateTape){
        <div class="card-coll__tape"
            [style.color]="item()?.stateTape === 'TAPE_GREAT' ? 'var(--great-color)' : item()?.stateTape === 'TAPE_GOOD' ? 'var(--good-color)' : item()?.stateTape === 'TAPE_REGULAR' ? 'var(--regular-color)' : item()?.stateTape === 'TAPE_POOR' ? 'var(--poor-color)' : 'var(--terrible-color)'">
            <app-icon icon="tape" />

        </div>
        }

        @if(item()?.edition){
        <div class="card-coll__edition">
            <app-icon icon="edition" />
            <p>{{ item()?.edition }}</p>
        </div>
        }
    </div>

</div>