<header class="profile__header">
    @if(userData()) {
    <img [src]="userData()?.photoURL" alt="Profile Picture" width="150" height="150" class="profile__picture">
    <div class="profile__info">
        <h1 class="profile__name">{{ userData()?.displayName }}</h1>
        <p class="profile__username">{{ userData()?.username }}</p>
        <div class="profile__social">
            <div class="profile__social-info">
                <div class="profile__followers" (click)="openModalFollowers.set(true)">
                    <h2>{{ followers()?.length || 0 }}</h2>
                    <p>Seguidor{{ followers()?.length === 1 ? '' : 'es' }}</p>
                </div>
                <div class="profile__following" (click)="openModalFollowing.set(true)">
                    <h2>{{ following()?.length || 0 }}</h2>
                    <p>Seguindo</p>
                </div>
            </div>
            @if (!isMyself()) {
            <button type="smooth" (click)="isFollowing() ? unfollowUser() : followUser()">{{ isFollowing() ? 'Seguindo' : 'Seguir' }}</button>
            }
        </div>
    </div>
    }@else {
    Carregando...
    }
</header>
<main class="profile__container">

    <div class="cards-container">
        <div class="card card__collection" (click)="isMyself() ? navigateTo('/coll') : navigateTo('/coll/' + userData()?.username)">
            <app-icon icon="collections" />
            <p>Coleção</p>
            <b>@if(loadingCountColl()) {
                ...
            } @else {
                {{ countCollection() || 0 }}
            }
            </b>
        </div>
        <div class="card card__lists" (click)="isMyself() ? navigateTo('/lists') : navigateTo('/lists/' + userData()?.username)">
            <app-icon icon="list" />
            <p>Listas</p>
            <b>@if(loadingCountLists()) {
                ...
            } @else {
                {{ countLists() || 0 }}
            }
            </b>
        </div>
        <div class="card card__wishlist" (click)="isMyself() ? navigateTo('/wishlist') : navigateTo('/wishlist/' + userData()?.username)">
            <app-icon icon="bookmark-on" />
            <p>Salvos</p>
            <b>@if(loadingCountWishlist()) {
                ...
            } @else {
                {{ countWishlist() || 0 }}
            }
            </b>
        </div>
    </div>

    <button type="smooth" (click)="onLogout()">Sair</button>

</main>

<app-modal [modalControl]="openModalFollowers()" (modalClose)="openModalFollowers.set(false)" >
    <h3 class="modal-title">Seguidores</h3>
    <div class="modal-body">
        @for (user of followers(); track $index) {
            <p>{{ user.UID }}</p>
        }@empty {
            Ainda não há pessoas seguindo.
        }
    </div>
</app-modal>

<app-modal [modalControl]="openModalFollowing()" (modalClose)="openModalFollowing.set(false)" >
    <h3 class="modal-title">Seguindo</h3>
    <div class="modal-body">
        @for (user of following(); track $index) {
            <p>{{ user.UID }}</p>
        }@empty {
            O usuário ainda não segue ninguém.
        }
    </div>
</app-modal>