<header class="profile__header">
    @if(userData()) {
    <img [src]="userData()?.photoURL" alt="Profile Picture" width="150" height="150" class="profile__picture">
    <div class="profile__info">
        <h1 class="profile__name">{{ userData()?.displayName }}</h1>
        <p class="profile__username">{{ userData()?.username }}</p>
        <div class="profile__social">
            <div class="profile__social-info">
                <div class="profile__followers">
                    <h2>{{ userData()?.followers?.length || 0 }}</h2>
                    <p>Seguidores</p>
                </div>
                <div class="profile__following">
                    <h2>{{ userData()?.following?.length || 0 }}</h2>
                    <p>Seguindo</p>
                </div>
            </div>
            @if (!isMyself()) {
            <button type="smooth">Seguir</button>
            }
        </div>
    </div>
    }@else {
    Carregando...
    }
</header>
<main class="profile__container">

    <div class="cards-container">
        <div class="card card__collection">
            <app-icon icon="collections" />
            <p>Coleção</p>
            <b>{{ countCollection() || 0 }}</b>
        </div>
        <div class="card card__lists">
            <app-icon icon="list" />
            <p>Listas</p>
            <b>{{ countLists() || 0 }}</b>
        </div>
        <div class="card card__wishlist">
            <app-icon icon="like-on" />
            <p>Salvos</p>
            <b>{{ countWishlist() || 0 }}</b>
        </div>
    </div>

    <button type="smooth" (click)="onLogout()">Sair</button>

</main>