@if (movie(); as movieData) {
<header class="movie__header" [ngStyle]="{
        'background-image': 'url(' + moviesService.getImageUrl(movieData.backdrop_path || movieData.poster_path, 'original') + ')'
    }">

    <button class="btn-back" (click)="onBack()">
        <app-icon icon="arrow-left" />
    </button>

    <div class="movie__poster">
        <img [src]="moviesService.getImageUrl(movieData.poster_path, 'w500')" alt="{{ movieData.title }}"
            class="movie__poster-image" #poster (error)="poster.src = 'assets/images/no-poster.png'">
    </div>
</header>

<main class="movie__info">
    <div class="movie__title">
        <h1>{{ movieData.title }}</h1>
        <h4 class="info-year">
            {{ movieData.release_date ? movieData.release_date.split('-')[0] : 'N/A' }}
        </h4>
    </div>

    <div class="btn-container">
        <button class="btn-add" (click)="modalAddToCollection.set(true)">
            <p>Adicionar à coleção</p>
            <app-icon icon="add" />
        </button>
        <button class="btn-add-wishlist" [ngClass]="{'in-wishlist': inWishlist()}" (click)="toggleWishlist()">
            <app-icon [icon]="inWishlist() ? 'bookmark-on' : 'bookmark-off'" />
        </button>
    </div>

    <p class="movie__plot" [ngClass]="{'plot-extended': plotExtended()}">
        {{ movieData.overview || 'Sem sinopse disponível em português.' }}
    </p>
    <a class="btn-expand-plot" (click)="plotExtended.set(!plotExtended())">{{ plotExtended() ? 'Ver menos' : 'Ver mais' }}</a>

    <!-- Título original -->
    <p class="category info-original-title">
        <app-icon icon="movie" />
        <b>Título original: </b>
        {{ movieData.original_title }}
    </p>

    <!-- Gêneros -->
    @if (movieData.genres?.length) {
    <p class="category info-genre">
        <app-icon icon="genres" />
        <b>Gêneros: </b>
        @for (genre of movieData.genres; track genre.id; let last = $last) {
        <span class="genre">{{ genre.name }}</span>
        }
    </p>
    }

    <!-- Duração -->
    <p class="category info-runtime">
        <app-icon icon="runtime" />
        <b>Duração: </b> {{ movieData.runtime }} min
    </p>

    <!-- Direção -->
    <p class="category info-director">
        <app-icon icon="director" />
        <b>Direção: </b>
        @for (crewItem of movieData.credits?.crew; track $index) {
        @if (crewItem.job === 'Director') {
        {{ crewItem.name }}
        }
        }
    </p>

    <!-- Roteiro -->
    <p class="category info-writer">
        <app-icon icon="writer" />
        <b>Roteiro: </b>
        @for (crewItem of movieData.credits?.crew; track $index) {
        @if (crewItem.job === 'Screenplay') {
        {{ crewItem.name }}
        }
        }
    </p>

    <!-- Língua original -->
    <p class="category info-original-language">
        <app-icon icon="language" />
        <b>Lingua original: </b>
        {{ movieData.original_language | uppercase }}
    </p>

    <!-- Paises de produção -->
    <p class="category info-origin-country">
        <app-icon icon="country" />
        <b>País de origem: </b>
        @for (country of movieData.origin_country; track country; let last = $last) {
        {{ country }}{{ !last ? ', ' : '' }}
        }
    </p>

    <!-- Orçamento -->
    <p class="category info-budget">
        <app-icon icon="budget" />
        <b>Orçamento: </b>
        {{ movieData.budget | currency:'USD' }}
    </p>

    <!-- Elenco -->
    @if (movieData.credits?.cast?.length) {
    <div class="info-cast">
        <b> <app-icon icon="cast" />Elenco: </b>
        <div class="cast-container">
            @for (actor of movieData.credits?.cast?.slice(0, 6); track actor.id; let last = $last) {
            <picture>
                <img [src]="getImageUrl(actor.profile_path, 'w185')" alt="{{ actor.name }}">
                <legend>
                    {{ actor.name }}
                    <span>{{ actor.character }}</span>
                </legend>
            </picture>
            }

            <button (click)="showFullCastModal.set(true)">
                Ver todos
            </button>
        </div>
    </div>
    }

</main>


<app-coll-form [movieDetails]="movieData" (modalClose)="modalAddToCollection.set($event)"
    [(modalControl)]="modalAddToCollection">
</app-coll-form>


<app-modal [modalControl]="showFullCastModal()" (modalClose)="showFullCastModal.set($event)" [btnConfirm]="false">
    
    <h4 class="modal-title">Elenco completo</h4>
    <div class="modal-body cast-modal-container">
        @for (person of movieData.credits?.cast; track $index) {
        <tr>
            <td class="cast-modal-profile"><img [src]="person.profile_path ? getImageUrl(person.profile_path, 'w92') : 'assets/default-profile.jpg'" alt="{{ person.name }}"></td>
            <td class="cast-modal-info"><p>{{ person.name }}</p> <span>{{ person.character }}</span></td>
        </tr>
        }
    </div>
</app-modal>

} @else if (loading()) {
<div class="movie__loading">
    <p>Carregando detalhes do filme...</p>
</div>
}