.movie{
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--grey-20);
        height: 20vh;
        position: relative;
    }


    &__poster {
        aspect-ratio: 9/16;
        height: 240px;
        display: flex;
        object-fit: cover;
        bottom: -120px;
        position: absolute;
    }

    &__title {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    &__info{
        padding: 7rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4{
            font-weight: 400;
        }
    }
}