<header class="movie__header"
    [ngStyle]="{'background-image': movie()?.Poster !== 'N/A' ? 'url(' + movie()?.Poster + ')' : 'url(assets/default-poster.png)'}">
    
    <button class="btn-back" (click)="onBack()">
        <app-icon icon="arrow-left" />
    </button>

    <div class="movie__poster">
        <img [src]="movie()?.Poster !== 'N/A' ? movie()?.Poster : 'assets/default-poster.png'"
            alt="{{ movie()?.Title }}" class="movie__poster-image">
    </div>
</header>
<main class="movie__info">
    <div class="movie__title">
        <h1>{{ movie()?.Title }}</h1>
        <h4 class="info-year">{{ movie()?.Year }}</h4>
    </div>
    <div class="btn-container">
        <button class="btn-add" (click)="modalAddToCollection.set(true)">
            <p>Adicionar à coleção</p>
            <app-icon icon="add" />
        </button>
        <button class="btn-add-wishlist">
            <app-icon icon="add-wishlist" />
        </button>

    </div>
    <p class="movie__plot">{{ movie()?.Plot }}</p>
    <h4 class="info-category">
        <app-icon icon="actors" />
        {{ movie()?.Actors }}
    </h4>
    <h4 class="info-category">
        <app-icon icon="genre" />
        {{ movie()?.Genre }}
    </h4>
    <h4 class="info-category">
        <app-icon icon="director" />
        {{ movie()?.Director }}
    </h4>
        <h4 class="info-category">
        <app-icon icon="writer" />
        {{ movie()?.Writer }}
    </h4>
    <h4 class="info-category">
        <app-icon icon="language" />
        {{ movie()?.Language }}
    </h4>
    <h4 class="info-category">
        <app-icon icon="country" />
        {{ movie()?.Country }}
    </h4>
    <h4 class="info-category">
        <app-icon icon="runtime" />
        {{ movie()?.Runtime }}
    </h4>
        <h4 class="info-category">
        <app-icon icon="trophy" />
        {{ movie()?.Awards }}
    </h4>
</main>


<app-coll-form [movieDetails]="movie()" (modalClose)="modalAddToCollection.set($event)" [modalControl]="modalAddToCollection()"></app-coll-form>
