:host {
    position: relative;
    height: 100vh;
    display: block;
    overflow-y: auto;
}


.movie {

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--gray-20);
        height: 20vh;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: soft-light;

        .btn-back {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-color: var(--white);
            border: none;
            border-radius: 40px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &__poster {

        height: 240px;
        display: flex;
        object-fit: cover;
        bottom: -120px;
        position: absolute;
        border-radius: 0.5rem;
        box-shadow: 0px 8px 7px -4px #00000059;
        border: 1px solid var(--gray-10);
        overflow: hidden;
    }

    &__title {
        text-align: center;

        >h1 {
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    }

    &__plot {
        color: var(--gray-50);
        font-size: 0.9rem;
    }

    &__info {
        padding: 7rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        background-color: var(--white);
        height: 100%;

        h4.info-year {
            font-weight: 400;
        }

        h4.info-category {
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.9rem;

            ::ng-deep {
                i[icon] {
                    --size-icon: 24px;
                }
            }
        }

        .btn-container {
            display: flex;
            gap: 1rem;

            .btn-add {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                >p {
                    flex: 1;
                }
            }

            .btn-add-wishlist {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--gray-10);
                width: 60px;
                padding: 0;

                ::ng-deep {
                    i[icon] {
                        --size-icon: 30px;
                    }
                }

                &.in-wishlist {
                    background-color: color-mix(in srgb, var(--wishlist-color) 10%, var(--gray-10) 50%);

                    ::ng-deep {
                        i[icon] {
                            color: var(--wishlist-color);
                        }
                    }
                }
            }
        }


    }
}