<header>
    <h2>Suas listas</h2>
</header>

<div class="lists-container">
    <button (click)="modalNovaLista.set(true)"> Nova lista</button>
    @for (list of lists(); track $index) {
    <app-card-list [list]="list" [username]="(!isMyself() ? userData()?.username : null) ?? null"/>
    }
</div>

<app-modal [modalControl]="modalNovaLista()" (modalClose)="modalNovaLista.set($event)" (confirmModal)="addNewList()">
    <h3 class="modal-title">Nova Lista</h3>
    <form class="modal-body" [formGroup]="formList">
        <label>
            <input type="text" placeholder="Digite o nome da lista" formControlName="title" />
        </label>
        <label>
            <span>Lista privada</span>
            <input type="checkbox" formControlName="isPrivated" />
        </label>
        <label>
            <span>Lista ranqueada</span>
            <input type="checkbox" formControlName="isRanked" />
        </label>
    </form>
</app-modal>