:host {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
    padding-bottom: 5rem;

}

.info-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(-3rem);
}

.item-details {

    &__header {
        background: radial-gradient(circle, var(--white) 0%, currentColor 100%);
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__movie {
        position: relative;

        >h2 {
            width: 80%;
            font-size: 1.2rem;
        }
    }

    &__poster {
        height: 256px;
        width: 170px;
        transform: translateY(-0.75rem);
        object-fit: cover;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        >img {
            height: 100%;
            width: auto;
            border-radius: 0.25rem;
        }
    }

    &__format {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem 0.75rem;
        border-radius: 0.5rem;
        flex-direction: column;
        align-items: center;
        display: flex;
        background-color: color-mix(in srgb, currentColor 50%, transparent);

        ::ng-deep {
            i[icon] {
                --size-icon: 24px;
                color: currentColor;
                filter: saturate(3) brightness(0.35);
            }
        }
    }

    &__genre {
        font-size: 0.8rem;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        >p {
            background-color: var(--grey-10);
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
        }
    }

    &__condition {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;

        >b {
            font-size: 1rem;
        }

        .state__case,
        .state__disc,
        .state__tape {
            background-color: color-mix(in srgb, currentColor 5%, var(--white) 80%);
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            gap: 0.5rem;
            flex: 1;
            width: 100%;
            // border: 1px solid color-mix(in srgb, currentColor 70%, var(--white) 80%);

            ::ng-deep {
                i[icon] {
                    color: currentColor;
                    --size-icon: 24px;
                }
            }
        }
    }

    &__edition {
        color: darkgoldenrod;
        background-color: color-mix(in srgb, currentColor 5%, transparent);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        width: fit-content;
        border: 1px solid color-mix(in srgb, currentColor 70%, transparent);

        >p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.9rem;
        }

        ::ng-deep {
            i[icon] {
                color: currentColor;
                --size-icon: 24px;
            }
        }
    }
}

.btn-back,
.btn-options {

    background-color: var(--white);
    border: none;
    border-radius: 60px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.modal-options {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;

    >button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        gap: 1.5rem;
        padding-inline: 1.5rem;
        width: 100%;
        height: 65px;

        >p {
            width: max-content;
        }
    }

    ::ng-deep {
        i[icon] {
            --size-icon: 24px;
        }
    }
}

.bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: block;
}

.btn-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    align-items: flex-end;
    height: 100%;
    // justify-content: space-between;
    // padding-bottom: 3.7rem;
}

.btn-like {
    background-color: var(--white);
    border: none;
    border-radius: 10rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 80px;
    gap: 0.25rem;
    padding: 0.75rem;

    ::ng-deep {
        i[icon] {
            --size-icon: 24px;
        }
    }
}

.btn-more-info {
    background-color: var(--white);
    border: 1px solid var(--grey-20);
}



section {
    padding: 1rem;
    background-color: var(--white);
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1em;

    p>span {
        color: var(--grey-50);
    }
}

.stars-container {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    justify-content: space-around;
    border: 1px solid var(--grey-20);

    ::ng-deep {
        i[icon="star-filled"] {
            color: var(--yellow);
        }

        i[icon="star-line"] {
            color: var(--grey-20);
        }
    }
}

.review-observation {
    padding: 1rem;
    display: flex;
    flex: 1;
    background-color: var(--grey-10);
    border-radius: 0.5rem;
    flex-direction: column;
    gap: 0.25rem;

    >span {
        font-size: 0.8rem;
    }
}

.watched,
.available-sell,
.available-exchange,
.is-loaned {
    ::ng-deep {
        i[icon] {
            color: currentColor;
        }
    }
}

.available-sell {
    color: var(--good-color);
}

.available-exchange {
    color: var(--great-color);
}

.is-loaned {
    color: var(--regular-color);
}

.tags-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}