<header class="item-details__header"
    [ngStyle]="{color: item()?.format ? 'var(--' + item()?.format?.toLowerCase() + '-color)' : 'var(--gray-30)'}">
    <button class="btn-back" (click)="navigateTo('/coll')">
        <app-icon icon="arrow-left" />
    </button>

    <div class="btn-container">
        <button class="btn-options" (click)="toggleOptions($event)">
            <app-icon icon="options" />
        </button>
        <button class="btn-like">
            <app-icon icon="like-off" />
            <p>0</p>
        </button>
    </div>
    <div class="item-details__poster">
        <img [src]="item()?.poster ?? 'assets/default-poster.png'" alt="">
    </div>

    @if(showOptions()) {
    <div>
        <div class="bg-modal" (click)="toggleOptions($event)"></div>
        <div class="modal-options">
            <button class="option" (click)="modalEditCollection.set(true); showOptions.set(false)">
                <app-icon icon="edit" />
                <p>Editar</p>
            </button>
            <button class="option" disabled>
                <app-icon icon="share" />
                <p>Compartilhar</p>
            </button>
            <button class="option" (click)="showModalAddToList.set(true); showOptions.set(false); getLists()">
                <app-icon icon="list" />
                <p>Adicionar à lista</p>
            </button>
            <button class="option" (click)="showDeleteModal.set(true); showOptions.set(false)">
                <app-icon icon="delete" />
                <p>Excluir</p>
            </button>
        </div>
    </div>
    }
</header>


<div class="info-container">

    <section class="item-details__movie">
        <span class="item-details__format" [ngStyle]="{color: 'var(--' + item()?.format?.toLowerCase() + '-color)'}">
            @if(item()?.format === 'DVD') {
            <app-icon icon="dvd" />
            } @else if(item()?.format === 'BLURAY') {
            <app-icon icon="bluray" />
            } @else if(item()?.format === 'VHS') {
            <app-icon icon="tape" />
            }
        </span>

        <h2>{{ item()?.title }}</h2>
        <p>{{ item()?.year }}</p>
        <p>{{ item()?.director?.join(', ') }}</p>

        @if(item()?.genre){
        <div class="item-details__genre">
            @for(genre of item()?.genre; track $index) {
            <p>{{ genre }}</p>
            }
        </div>
        }

        <button type="smooth" class="btn-more-info" (click)="navigateTo('movie/' + item()?.imdbID)">Ver mais
            informações</button>
    </section>

    <section class="item-details__info">

        <h4>Sobre o item</h4>

        <p><span>Formato:</span>
            @if(item()?.format === 'DVD') {
            {{ EFormat.DVD }}
            } @else if(item()?.format === 'BLURAY') {
            {{ EFormat.BLURAY }}
            } @else if(item()?.format === 'VHS') {
            {{ EFormat.VHS }}
            }
        </p>

        @if (item()?.numberDiscs) {
        <p><span>Número de discos:</span> {{ item()?.numberDiscs }}</p>
        }

        @if(item()?.caseType){
        <p><span>Tipo de capa:</span>
            @if(item()?.format === 'DVD') { {{ getLabel(item()?.caseType, EDVDCase) }}
            }@else if (item()?.format === 'BLURAY') { {{ getLabel(item()?.caseType, EBluRayCase) }}
            }@else if (item()?.format === 'VHS') { {{ getLabel(item()?.caseType, EVHSCase) }} }
        </p>
        }

        <!-- <p><span>Legendas disponíveis:</span> {{ item()?.subtitleLanguage ? item()?.subtitleLanguage?.join(', ') : 'Não informado' }}</p>
        <p><span>Áudios disponíveis:</span> {{ item()?.audioLanguage ? item()?.audioLanguage?.join(', ') : 'Não informado' }}</p> -->

        @if(item()?.edition){
        <div class="item-details__edition">
            <app-icon icon="edition" />
            <p>{{ item()?.edition }}</p>
        </div>
        }

        @if(item()?.audioLanguage){
        <div class="audio-languages">
            Linguagem de áudio disponível:
            @for(language of item()?.audioLanguage; track $index) {
            <p class="tag">{{ $any(ELanguages)[language] || language }}</p>
            }
        </div>
        }

        @if(item()?.subtitleLanguage){
        <div class="subtitle-languages">
            Linguagem de legenda disponível:
            @for(language of item()?.subtitleLanguage; track $index) {
            <p class="tag">{{ $any(ELanguages)[language] || language }}</p>
            }
        </div>
        }
    </section>

    <section>

        <h4>Estado de conservação</h4>
        @if (item()?.stateCase || item()?.stateDisc || item()?.stateTape) {
        <div class="item-details__condition">

            @if(item()?.stateCase){
            <div class="state__case"
                [style.color]="'var(--' + item()?.stateCase!.split('_')[1].toLowerCase() + '-color)'">
                <app-icon icon="case" />

                <p>Capa:</p> <b>{{ getLabel(item()?.stateCase, ECaseState) }}</b>

            </div>
            }

            @if(item()?.stateDisc){
            <div class="state__disc"
                [style.color]="item()?.stateDisc === 'DISC_GREAT' ? 'var(--great-color)' : item()?.stateDisc === 'DISC_GOOD' ? 'var(--good-color)' : item()?.stateDisc === 'DISC_REGULAR' ? 'var(--regular-color)' : item()?.stateDisc === 'DISC_POOR' ? 'var(--poor-color)' : 'var(--default-color)'">
                <app-icon icon="disc" />

                <p>Disco:</p> <b>{{ getLabel(item()?.stateDisc, EDiscState) }}</b>

            </div>
            }

            @if(item()?.stateTape){
            <div class="state__tape"
                [style.color]="item()?.stateTape === 'TAPE_GREAT' ? 'var(--great-color)' : item()?.stateTape === 'TAPE_GOOD' ? 'var(--good-color)' : item()?.stateTape === 'TAPE_REGULAR' ? 'var(--regular-color)' : item()?.stateTape === 'TAPE_POOR' ? 'var(--poor-color)' : 'var(--default-color)'">
                <app-icon icon="tape" />

                <p>Fita:</p> <b>{{ getLabel(item()?.stateTape, ETapeState) }}</b>

            </div>
            }
        </div>
        }
    </section>



    <section>
        <h4>Aquisição</h4>
        <p><span>Data de aquisição:</span> {{ item()?.acquisitionDate | date:'shortDate' }}</p>
        <p><span>Valor da aquisição:</span> {{ item()?.acquisitionPrice| currency:'BRL' }}</p>
        <p><span>Fornecedor:</span> {{ item()?.supplier }}</p>
        <div class="tags-container">
            @if(item()?.isLoaned){ <p class="is-loaned tag">Está emprestado <app-icon icon="loan" /></p> }
            @if(item()?.availableForSell){ <p class="available-sell tag">Disponível para venda <app-icon icon="sell" />
            </p> }
            @if(item()?.availableForExchange){ <p class="available-exchange tag">Disponível para troca <app-icon
                    icon="exchange" /></p> }
        </div>
    </section>

    <section class="item-details__review">
        <h4>Avaliação pessoal:</h4>

        <div class="stars-container">
            <p class="watched tag" [ngStyle]="{color: item()?.watched ? 'var(--great-color)' : 'var(--gray-50)'}">
                {{ item()?.watched ? 'Já' : 'Não' }} assisti
                @if(item()?.watched) {
                <app-icon icon="watch" />
                }
            </p>
            @for(star of stars; track $index) {
            <app-icon [icon]="star === 1 ? 'star-filled' : 'star-line'" />
            }
            <p><b>{{ item()?.personalRating }} </b> <span>/ 5</span></p>
        </div>
        @if (item()?.observations) {

        <p class="review-observation"><span>Observações:</span>{{ item()?.observations }}</p>
        }
    </section>
</div>

<app-coll-form (modalClose)="modalEditCollection.set($event)" (updateItem)="getItem()"
    [modalControl]="modalEditCollection()" [itemDetails]="item()" />

<app-modal [modalControl]="showDeleteModal()" (modalClose)="showDeleteModal.set($event)" (confirmModal)="deleteItem()">
    <h3 class="modal-title">Tem certeza que deseja excluir este item?</h3>

    <p class="modal-body">
        Esta ação não pode ser desfeita. Todos os dados associados a este item serão perdidos.
    </p>
</app-modal>

<app-modal [modalControl]="showModalAddToList()" (modalClose)="showModalAddToList.set($event)" [disableControl]="!listSelected()" (confirmModal)="addToList()">
    <h3 class="modal-title">Adicionar à lista</h3>
    <div class="modal-body">
        <p>Selecione a lista para adicionar o item:</p>
        <div class="lists-container">
            @for(list of lists(); track $index) {
                <label class="list-item">
                    <input type="radio" name="list" [value]="list.id" (change)="listSelected.set(list?.id!)"/>
                    <app-icon icon="list" />
                    <h4>{{ list.title }}</h4>
                    <p>{{ list.items.length }} itens</p>
                </label>
            }
        </div>
    </div>
</app-modal>