:host {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
}

.item-details {

    &__header {
        background-color: var(--grey-20);
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;

    }

    &__poster {
        height: 200px;
        width: auto;

        >img {
            height: 100%;
            width: auto;
            border-radius: 0.25rem;
        }
    }

    &__format {
        position: absolute;
        top: 0;
        right: -0;
        padding: 0.75rem 1rem;
        background-color: var(--grey-10);
        border-radius: 0 0 0 1.5rem;
        display: flex;
        gap: 0.5rem;

        ::ng-deep {
            i[icon] {
                --size-icon: 25px;
            }
        }
    }

    &__movie {
        padding: 1rem;
        background-color: var(--white);
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    &__edition {
        color: indigo;
        background-color: color-mix(in srgb, currentColor 10%, var(--white) 80%);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        


        ::ng-deep {
            i[icon] {
                color: currentColor;
                --size-icon: 24px
            }
        }
    }

        &__genre {
        font-size: 0.8rem;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        >p {
            background-color: var(--grey-10);
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
        }
    }

    &__info {

        padding: 1rem;
        background-color: var(--white);
        gap: 0.5rem;
        display: flex;
        flex-direction: column;

        p>span {
            color: var(--grey-50);
        }


        .info-state {
            display: flex;
            gap: 0.5rem;
            align-items: center;



            &__case,
            &__disc,
            &__tape {
                background-color: color-mix(in srgb, currentColor 20%, var(--white) 80%);
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 0.9rem;

                ::ng-deep {
                    i[icon] {
                        color: currentColor;
                        --size-icon: 24px;
                    }
                }
            }
        }
    }


}

.DVD {
    background-color: var(--dvd-color);
}

.BLURAY {
    background-color: var(--bluray-color);
}

.VHS {
    background-color: var(--vhs-color);
}