@if (modalControl()) {
<div class="modal-add-item" [@moveForm]>
    <form [formGroup]="formItem" class="item__form">

        <h4 class="item-subtitle"> 
            @if(movieDetails()){<span>Adicionar</span>} @else if (itemDetails()) {<span>Editar</span>} detalhes do item</h4>
        <!-- ----------------------------------------------------------------------- -->

        <fieldset class="item__format">
            <p>Formato:</p>
            @for (key of formatOptions; track $index) {
            <label [for]="'format' + key" class="format-option">
                <input type="radio" [id]="'format' + key" [value]="key" formControlName="format">
                <span class="checkmark"
                    [ngStyle]="{'color': key === EFormat.DVD ? 'var(--dvd-color)' : EFormat[key] === EFormat.BLURAY ? 'var(--bluray-color)' : 'var(--vhs-color)'}">
                    <app-icon
                        [icon]="key === EFormat.DVD ? 'disc' : EFormat[key] === EFormat.BLURAY ? 'disc' : 'tape'"></app-icon>
                    <p>{{ EFormat[key] }}</p>
                </span>

            </label>
            }

        </fieldset>

        <label for="tipo-capa" class="item__case-type">
            <p>Tipo de capa:</p>
            <select formControlName="caseType" name="tipo-capa" placeholder="Ex: Plástico, Digipack, Steelbook">
                <option value="" selected>Selecione</option>

                @if(formItem.get('format')?.value === 'DVD') {
                @for (key of caseDVDOptions; track $index) {
                <option [value]="key">{{ EDVDCase[key] }}</option>
                }
                }

                @if(formItem.get('format')?.value === 'BLURAY') {
                @for (key of caseBluRayOptions; track $index) {
                <option [value]="key">{{ EBluRayCase[key] }}</option>
                }
                }

                @if(formItem.get('format')?.value === 'VHS') {
                @for (key of caseVHSOptions; track $index) {
                <option [value]="key">{{ EVHSCase[key] }}</option>
                }
                }
            </select>
        </label>


        @if(formItem.get('format')?.value === 'DVD'|| formItem.get('format')?.value === 'BLURAY') {
        <label for="more-then-one-disc" class="item__more-then-one-disc">
            <input type="checkbox" formControlName="hasMoreThanOneDisc" name="more-then-one-disc">
            <p>Tem mais de 1 disco</p>
        </label>

        <label for="numero-discos" class="item__number-discs">
            <p>Número de discos: {{ formItem.get('numberDiscs')?.value }} </p>
            <input type="number" formControlName="numberDiscs" name="numero-discos" placeholder="Ex: 1" min="1">
        </label>
        }


        <h4>Conservação</h4>
        <!-- ----------------------------------------------------------------------- -->

        <fieldset class="item__condition">
            <p>Estado da capa</p>
            @for (key of caseStateOptions; track $index) {
            <label [for]="'case-condition' + key" class="condition-option">
                <input type="radio" [id]="'case-condition' + key" [value]="key" formControlName="stateCase">

                <span class="checkmark" [ngStyle]="{'color': 
                ECaseState[key] === ECaseState.CASE_GREAT ? 'var(--great-color)' : 
                ECaseState[key] === ECaseState.CASE_GOOD ? 'var(--good-color)' :
                ECaseState[key] === ECaseState.CASE_REGULAR ? 'var(--regular-color)' :
                ECaseState[key] === ECaseState.CASE_POOR ? 'var(--poor-color)' : 'var(--terrible-color)'}">
                    <p>{{ ECaseState[key] }}</p>
                </span>

            </label>
            }
        </fieldset>

        @if(formItem.get('format')?.value === 'DVD' || formItem.get('format')?.value === 'BLURAY') {
        <fieldset class="item__condition">
            <p>Estado do disco:</p>
            @for (key of discStateOptions; track $index) {
            <label [for]="'disc-condition' + key" class="condition-option">
                <input type="radio" [id]="'disc-condition' + key" [value]="key" formControlName="stateDisc">
                <span class="checkmark" [ngStyle]="{'color': 
                EDiscState[key] === EDiscState.DISC_GREAT ? 'var(--great-color)' : 
                EDiscState[key] === EDiscState.DISC_GOOD ? 'var(--good-color)' :
                EDiscState[key] === EDiscState.DISC_REGULAR ? 'var(--regular-color)' :
                EDiscState[key] === EDiscState.DISC_POOR ? 'var(--poor-color)' : 'var(--terrible-color)'}">
                    <p>{{ EDiscState[key] }}</p>
                </span>
            </label>
            }
        </fieldset>
        }

        @if(formItem.get('format')?.value === EFormat.VHS) {
        <fieldset class="item__condition">
            <p>Estado da fita:</p>
            @for (key of tapeStateOptions; track $index) {
            <label [for]="'tape-condition' + key" class="condition-option">
                <input type="radio" [id]="'tape-condition' + key" [value]="key" formControlName="stateTape">
                <span class="checkmark" [ngStyle]="{'color': 
                ETapeState[key] === ETapeState.TAPE_GREAT ? 'var(--great-color)' : 
                ETapeState[key] === ETapeState.TAPE_GOOD ? 'var(--good-color)' :
                ETapeState[key] === ETapeState.TAPE_REGULAR ? 'var(--regular-color)' :
                ETapeState[key] === ETapeState.TAPE_POOR ? 'var(--poor-color)' : 'var(--terrible-color)'}">
                    <p>{{ ETapeState[key] }}</p>
                </span>
            </label>
            }
        </fieldset>
        }

        <h4>Aquisição</h4>
        <!-- ----------------------------------------------------------------------- -->

        <label for="data-aquisicao" class="item__acquisition-date">
            <p>Data de aquisição:</p>
            <input type="date" formControlName="acquisitionDate" name="data-aquisicao">
        </label>

        <label for="valor-aquisicao" class="item__acquisition-value">
            <p>Valor de aquisição:</p>
            <input type="text" formControlName="acquisitionPrice" mask="separator.2" thousandSeparator="."
                decimalMarker="," prefix="R$ " placeholder="R$ 0,00">
        </label>

        <label for="fornecedor" class="item__supplier">
            <p>Fornecedor:</p>
            <input type="text" formControlName="supplier" name="fornecedor" placeholder="Ex: Bazar do Antônio, Amazon">
        </label>

        <label for="avaliable-exchange" class="item__avaliable-exchange">
            <input type="checkbox" formControlName="availableForExchange" name="avaliable-exchange">
            <p>Disponível para troca</p>
        </label>

        <label for="avaliable-sell" class="item__avaliable-sell">
            <input type="checkbox" formControlName="availableForSell" name="avaliable-sell">
            <p>Disponível para venda</p>
        </label>

        <h4>Informações da obra</h4>
        <!-- ----------------------------------------------------------------------- -->

        <label for="is-special-edition">
            <input type="checkbox" formControlName="isSpecialEdition" name="is-special-edition">
            <p>É uma edição especial?</p>
        </label>

        <label for="edition" class="item__edition">
            <p>Edição:</p>
            <input type="text" formControlName="edition" name="edition" placeholder="Ex: Versão extendida">
        </label>


        <div class="chip-select" (click)="audioOpenDropdown.set(true)">
            <p class="chip-select__label">Linguagem de áudio disponível</p>
            <div class="chip-select__container">
                <div class="chip-select__selected-chips">
                    @for (audio of (formItem.get('audioLanguage')?.value ?? []); track $index) {
                    <span class="chip-select__selected-chip">{{ $any(ELanguages)[audio] || audio }}</span>
                    }
                </div>
                @if(audioOpenDropdown()){
                <div class="chip-select__options">
                    <input class="chip-select__search" type="text" placeholder="Procurar linguagem...">
                    @for (lang of languageOptions; track $index) {
                    <label class="chip-select__option" (click)="addAudioLanguage($event, lang)">
                        <input type="checkbox" [checked]="formItem.get('audioLanguage')?.value?.includes(lang)"
                            readonly>
                        <span class="checkmark">{{ ELanguages[lang] }}</span>
                    </label>
                    }
                </div>
                }
            </div>
        </div>

        <div class="chip-select" (click)="subtitleOpenDropdown.set(true)">
            <p class="chip-select__label">Linguagem de legenda disponível</p>
            <div class="chip-select__container">
                <div class="chip-select__selected-chips">
                    @for (subtitle of (formItem.get('subtitleLanguage')?.value ?? []); track $index) {
                    <span class="chip-select__selected-chip">{{ $any(ELanguages)[subtitle] || subtitle }}</span>
                    }
                </div>
                @if(subtitleOpenDropdown()){
                <div class="chip-select__options">
                    <input class="chip-select__search" type="text" placeholder="Procurar linguagem...">
                    @for (lang of languageOptions; track $index) {
                    <label class="chip-select__option" (click)="addSubtitleLanguage($event, lang)">
                        <input type="checkbox" [checked]="formItem.get('subtitleLanguage')?.value?.includes(lang)"
                            readonly>
                        <span class="checkmark">{{ ELanguages[lang] }}</span>
                    </label>
                    }
                </div>
                }
            </div>
        </div>

        <label for="assisti" class="item__watched">
            <input type="checkbox" formControlName="watched" name="assisti">
            <p>Já assisti</p>
        </label>

        <fieldset class="item__personal-rating">
            <p>Avaliação pessoal:</p>
            @for (star of starRating(); track $index) {

            @if(star === 1) {
            <span (click)="rating($index + 1)" style="color: gold">
                <app-icon icon="star-filled"></app-icon>
            </span>
            }@else{
            <span (click)="rating($index + 1)" class="star-rating">
                <app-icon icon="star-line"></app-icon>
            </span>
            }
            }
            <!-- <span>{{ formItem.get('personalRating')?.value || 0 }} / 5</span> -->
        </fieldset>

        <label for="observacoes" class="item__notes">
            <p>Observações:</p>
            <textarea formControlName="observations" name="observacoes" placeholder="Escreva aqui..."></textarea>
        </label>


        <button class="btn__save" (click)="onSubmit($event)">Salvar</button>
        <button class="btn__cancel" (click)="onCancel($event)">Cancelar</button>

    </form>
</div>
}

@if(modalControl()){
<div class="modal-bg" [@fadeInOut] (click)="modalClose.emit(false)"></div>
}