@if (modalControl()) {
<div class="modal-add-item" [@moveForm]>
    <form [formGroup]="formItem" class="item__form">

        <h4 class="item-subtitle">Detalhes do item</h4>
        <!-- ----------------------------------------------------------------------- -->

        <fieldset class="item__format">
            <p>Formato:</p>
            @for (format of formatOptions; track $index) {
            <label [for]="'format' + format" class="format-option">
                <input type="radio" [id]="'format' + format" [value]="format" formControlName="format">
                <span class="checkmark"
                    [ngStyle]="{'color': format === EFormat.DVD ? 'var(--dvd-color)' : format === EFormat.BLURAY ? 'var(--bluray-color)' : 'var(--vhs-color)'}">
                    <app-icon
                        [icon]="format === EFormat.DVD ? 'disc' : format === EFormat.BLURAY ? 'disc' : 'vhs'"></app-icon>
                    <p>{{ format }}</p>
                </span>

            </label>
            }

        </fieldset>


        <label for="tipo-capa" class="item__case-type">
            <p>Tipo de capa:</p>
            <select formControlName="caseType" name="tipo-capa" placeholder="Ex: Plástico, Digipack, Steelbook">
                <option value="" selected>Selecione</option>
                @if(formItem.get('format')?.value === EFormat.DVD || formItem.get('format')?.value ===
                EFormat.BLURAY) {
                @for (caseType of caseDiscOptions; track $index) {
                <option [value]="caseType">{{ caseType }}</option>
                }
                }
                @if(formItem.get('format')?.value === EFormat.VHS) {
                @for (caseType of caseVHSOptions; track $index) {
                <option [value]="caseType">{{ caseType }}</option>
                }
                }
            </select>
        </label>


        @if(formItem.get('format')?.value === EFormat.DVD || formItem.get('format')?.value === EFormat.BLURAY) {
        <label for="more-then-one-disc" class="item__more-then-one-disc">
            <input type="checkbox" formControlName="hasMoreThanOneDisc" name="more-then-one-disc">
            <p>Tem mais de 1 disco</p>
        </label>

        <label for="numero-discos" class="item__number-discs">
            <p>Número de discos:</p>
            <input type="number" formControlName="numberDiscs" name="numero-discos" placeholder="Ex: 1" min="1">
        </label>
        }


        <h4>Conservação</h4>
        <!-- ----------------------------------------------------------------------- -->

        <fieldset class="item__condition">
            <p>Estado da capa</p>
            @for (condition of caseStateOptions; track $index) {
            <label [for]="'case-condition' + condition" class="condition-option">
                <input type="radio" [id]="'case-condition' + condition" [value]="condition" formControlName="stateCase">
                <span class="checkmark" [ngStyle]="{'color': 
                condition === ECaseState.CASE_GREAT ? 'var(--great-color)' : 
                condition === ECaseState.CASE_GOOD ? 'var(--good-color)' :
                condition === ECaseState.CASE_REGULAR ? 'var(--regular-color)' :
                condition === ECaseState.CASE_POOR ? 'var(--poor-color)' : 'var(--terrible-color)'}">
                    <p>{{ condition }}</p>
                </span>

            </label>
            }
        </fieldset>

        @if(formItem.get('format')?.value === EFormat.DVD || formItem.get('format')?.value === EFormat.BLURAY) {
        <fieldset class="item__condition">
            <p>Estado do disco:</p>
            @for (condition of discStateOptions; track $index) {
            <label [for]="'disc-condition' + condition" class="condition-option">
                <input type="radio" [id]="'disc-condition' + condition" [value]="condition" formControlName="stateDisc">
                <span class="checkmark" [ngStyle]="{'color': 
                condition === EDiscState.DISC_GREAT ? 'var(--great-color)' : 
                condition === EDiscState.DISC_GOOD ? 'var(--good-color)' :
                condition === EDiscState.DISC_REGULAR ? 'var(--regular-color)' :
                condition === EDiscState.DISC_POOR ? 'var(--poor-color)' : 'var(--terrible-color)'}">
                    <p>{{ condition }}</p>
                </span>
            </label>
            }
        </fieldset>
        }

        @if(formItem.get('format')?.value === EFormat.VHS) {
        <fieldset class="item__condition">
            <p>Estado da fita:</p>
            @for (condition of tapeStateOptions; track $index) {
            <label [for]="'tape-condition' + condition" class="condition-option">
                <input type="radio" [id]="'tape-condition' + condition" [value]="condition" formControlName="stateTape">
                <span class="checkmark" [ngStyle]="{'color': 
                condition === ETapeState.TAPE_GREAT ? 'var(--great-color)' : 
                condition === ETapeState.TAPE_GOOD ? 'var(--good-color)' :
                condition === ETapeState.TAPE_REGULAR ? 'var(--regular-color)' :
                condition === ETapeState.TAPE_POOR ? 'var(--poor-color)' : 'var(--terrible-color)'}">
                    <p>{{ condition }}</p>
                </span>
            </label>
            }
        </fieldset>
        }

        <h4>Aquisição</h4>
        <!-- ----------------------------------------------------------------------- -->

        <label for="data-aquisicao" class="item__acquisition-date">
            <p>Data de aquisição:</p>
            <input type="date" formControlName="acquisitionDate" name="data-aquisicao">
        </label>

        <label for="valor-aquisicao" class="item__acquisition-value">
            <p>Valor de aquisição:</p>
            <input type="text" formControlName="acquisitionPrice" mask="separator.2" thousandSeparator="."
                decimalMarker="," prefix="R$ " placeholder="R$ 0,00">
        </label>

        <label for="fornecedor" class="item__supplier">
            <p>Fornecedor:</p>
            <input type="text" formControlName="supplier" name="fornecedor" placeholder="Ex: Bazar do Antônio, Amazon">
        </label>

        <label for="avaliable-exchange" class="item__avaliable-exchange">
            <input type="checkbox" formControlName="availableForExchange" name="avaliable-exchange">
            <p>Disponível para troca</p>
        </label>

        <label for="avaliable-sell" class="item__avaliable-sell">
            <input type="checkbox" formControlName="availableForSell" name="avaliable-sell">
            <p>Disponível para venda</p>
        </label>

        <h4>Informações da obra</h4>
        <!-- ----------------------------------------------------------------------- -->

        <label for="is-special-edition">
            <input type="checkbox" formControlName="isSpecialEdition" name="is-special-edition">
            <p>É uma edição especial?</p>
        </label>

        <label for="edition" class="item__edition">
            <p>Edição:</p>
            <input type="text" formControlName="edition" name="edition" placeholder="Ex: Versão extendida">
        </label>

        <label for="idiomas-audio" class="item__audio-languages">
            <p>Idiomas de áudio:</p>
            <input type="text" formControlName="audioLanguage" name="idiomas-audio" placeholder="Ex: Inglês, Português">
        </label>

        <label for="idiomas-legenda" class="item__subtitle-languages">
            <p>Idiomas de legenda:</p>
            <input type="text" formControlName="subtitleLanguage" name="idiomas-legenda"
                placeholder="Ex: Inglês, Português">
        </label>

        <label for="assisti" class="item__watched">
            <input type="checkbox" formControlName="watched" name="assisti">
            <p>Já assisti</p>
        </label>

        <fieldset class="item__personal-rating">
            <p>Avaliação pessoal:</p>
            @for (star of starRating(); track $index) {

            @if(star === 1) {
            <span (click)="rating($index + 1)" style="color: gold">
                <app-icon icon="star-filled"></app-icon>
            </span>
            }@else{
            <span (click)="rating($index + 1)" class="star-rating">
                <app-icon icon="star-line"></app-icon>
            </span>
            }
            }
            <!-- <span>{{ formItem.get('personalRating')?.value || 0 }} / 5</span> -->
        </fieldset>

        <label for="observacoes" class="item__notes">
            <p>Observações:</p>
            <textarea formControlName="observations" name="observacoes" placeholder="Escreva aqui..."></textarea>
        </label>

        <button (click)="onSubmit($event)">Finalizar</button>
        <button (click)="onCancel($event)">Cancelar</button>

    </form>
</div>
}

@if(modalControl()){
<div class="modal-bg" [@fadeInOut] (click)="modalClose.emit(false)"></div>
}