.modal-bg {
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.modal-add-item {
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: var(--white);
    gap: 1rem;
    border-radius: 2rem 2rem 0 0;
    z-index: 2;
    overflow: hidden;
    padding: 1.1rem;

    form.item__form {
        overflow-y: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h4 {
            position: sticky;
            top: -4px;
            background-color: var(--white);
            padding: 0.5rem 0;
            z-index: 2;
            width: 100%;
        }
    }
}

.item {
    &__format {

        display: flex;
        gap: 0.5rem;

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.checkmark {
                background-color: color-mix(in srgb, currentColor 20%, transparent);
                border: 2px solid color-mix(in srgb, currentColor 100%, #000 40%);

                >p {
                    color: color-mix(in srgb, currentColor 50%, #000 50%);
                }

                ::ng-deep {
                    i[icon] {
                        color: color-mix(in srgb, currentColor 50%, #000 50%);
                    }
                }
            }
        }

        .checkmark {
            background-color: var(--gray-10);
            // border: 2px solid var(--gray-20);
            padding: 1rem;
            width: 100%;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            flex-direction: column;

            >p {
                color: var(--gray-30);
            }


            ::ng-deep {
                i[icon] {
                    color: var(--gray-30);
                }
            }
        }
    }

    &__condition {
        display: flex;
        gap: 0.25rem;
        padding: 0.75rem;

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.checkmark {
                background-color: color-mix(in srgb, currentColor 20%, transparent);
                border: 2px solid currentColor;

                >p {
                    color: color-mix(in srgb, currentColor 100%, #000 20%);
                }

                ::ng-deep {
                    i[icon] {
                        color: color-mix(in srgb, currentColor 100%, #000 20%);
                    }
                }
            }
        }

        .checkmark {
            background-color: var(--gray-10);
            padding: 0.5rem;
            border-radius: 0.25rem;
            width: 62px;
            border: 2px solid var(--white);
            font-size: 0.7rem;
            text-align: center;
            display: flex;
            justify-content: center;

            >p {
                color: var(--gray-30);
            }
        }

    }

    &__personal-rating {
        display: flex;
        gap: 0.25rem;
        padding: 0.75rem;


        ::ng-deep {
            i[icon] {
                color: currentColor;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }

    }

    &__discs {
        width: 20%;
    }
}

.btn{
    &__save, &__cancel {
        padding: 1rem;
    }

    &__cancel {
        background-color: var(--gray-10);
    }
}

.chip-select{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;

    &__label{
        position: absolute;
        top: -0.8rem;
        left: 0.5rem;
        background-color: var(--white);
        padding: 0 0.25rem;
        font-size: 0.9rem;
    }

    &__selected-chips{
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        width: 100%;
        overflow-x: auto;
        gap: 0.5rem;
    }

    &__selected-chip{
        display: inline-block;
        background-color: var(--gray-10);
        padding: 0.5rem 0.75rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        min-width: fit-content;
    }

    &__container{
        position: relative;
    }

    &__options{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white);
        border-top: none;
        z-index: 1;
        border: 2px solid var(--gray-20);
        box-shadow: var(--shadow-bottom);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        max-height: 180px;
        overflow-y: auto;

        .chip-select__search{
            border: none;
            width: 100%;
            height: 40px;
        }

        label{
            width: 100%;
            height: fit-content;
            border: none;
            padding-block: 0.6rem;
        }
    }
}