<h1>Adicionar item à coleção</h1>
<input #searchBox type="search" name="search" id="search" placeholder="Pesquisar filme" (input)="searchMovies(searchBox.value)"/>

@if (results(); as results) {
    <p>{{ results.totalResults }} resultados encontrados</p>
  <ul >
    @for (movie of results.Search; track movie.imdbID) {
      <li class="movie-result">
        <img [src]="movie.Poster !== 'N/A' ? movie.Poster : 'assets/default-poster.png'" alt="{{ movie.Title }}" #poster (error)="poster.src = 'assets/default-poster.png'" >
        <h3>{{ movie.Title }}</h3>
        <p>{{ movie.Year }}</p>
      </li>
    }
  </ul>
}