:host{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.search-movie {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;

  &__list{
      position: absolute;
      top: 40px;
      max-height: 50vh;
      overflow-y: auto;
      border: 1px solid var(--grey-20);
      padding: 1rem;
      width: 100%;
      background-color: var(--bg-color);
  }

  &__results {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--grey-20);
    cursor: pointer;

    > img {
      width: 50px;
      height: 75px;
      object-fit: cover;
    }

    &:hover {
      background-color: var(--grey-10);
    }
  }
}

.movie{
    &__details{
      flex-wrap: wrap;
      display: flex;
      gap: 1rem;

      > h4{
        width: 100%;
      }
    }

    &__plot{
      width: 100%;
      flex: auto;
    }
    
}

.item{
    &__details{
      flex-wrap: wrap;
      display: flex;
      gap: 1rem;

      > h4{
        width: 100%;
      }
    }
}